<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Roommate Search</title>
<style media="screen">
table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    margin-left: 30%;
    margin-top: 15px;

}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
        padding: 10px;
}

th {
    background-color: #292929;
    border-top: none;
    color: white;
}

td:first-child, th:first-child {
     border-left: none;
}
</style>
  </head>
  <body>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<div class="tablediv">


<table align="center" >
	<tr>
		<th colspan="6"><h2>Student Record</h2></th>
		</tr>
			  <th> RegNo</th>
			  <th> Name </th>
			  <th> Email </th>
			  <th> Phone no </th>
        <th> Block </th>
        <th> Room no </th>

		</tr>

	</table>
</div>
  </body>
</html>
