<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pricing</title>
  <link rel="stylesheet" href="css\pricing.css">

  <script type="text/javascript">
    function change() {
      window.location.href = "registration.html";
    }
    function rtohome() {
      window.location.href = "index.html";
    }
  </script>
</head>

<body>
  <div class="Nav" id="Nav1">
    <div class="NavbarContainer">
      <img src="images/vssut.png" alt="" class="NavLogo" onclick="rtohome()">
      <div class="MobileIcon">
        <i class="fa fa-bars"></i>
      </div>
      <ul class="NavMenu ">
        <li class="NavItem"><a id="linkcolor" on class="NavLinks" href="index.html#about">About</a></li>
        <li class="NavItem"><a id="linkcolor1" class="NavLinks" href="pricing.html">Pricing</a></li>
        <li class="NavItem"><a id="linkcolor2" class="NavLinks" href="index.html#contact">Contact Us</a></li>
        <li class="NavItem"><a id="linkcolor3" class="NavLinks" href="signin.html">Sign in</a></li>
      </ul>
      <div class="NavBtn">
        <button type="button" name="button" class="NavBtnLink" onclick="change()">Signup</button>
      </div>

    </div>
  </div>


  <div class="columns">
    <ul class="price">
      <li class="header">Pulaha HOR</li>
      <div class="imagewrapper">
        <img style="height:150px; width:150px;" src="images/pulaha.jpeg" alt="">
      </div>

      <li class="grey">80K / year</li>
      <li>AC block</li>
      <li>Indoor games</li>
      <li>GYM</li>
      <li>World class facilities</li>
      <li class="grey"><a href="signin.html" class="button">Select</a></li>
    </ul>
  </div>

  <div class="pricingcontainer">
    <div class="pricingwrapper">
      <div class="columns">
        <ul class="price">
          <li class="header">Pulastya HOR</li>
          <div class="imagewrapper">
            <img style="height:150px; width:150px;" src="images/pulastya.jpg" alt="">
          </div>

          <li class="grey">70K / year</li>
          <li>Best Internet</li>
          <li>Central AC block</li>
          <li>Best Mess</li>
          <li>Common Study room</li>
          <li class="grey"><a href="signin.html" class="button">Select</a></li>
        </ul>
      </div>



      <div class="columns">
        <ul class="price">
          <li class="header">Rohini HOR</li>
          <div class="imagewrapper">
            <img style="height:150px; width:150px;" src="images/rohini.jpeg" alt="">
          </div>

          <li class="grey">70K / year</li>
          <li>Ac block</li>
          <li>Gym</li>
          <li>Swimming pool</li>
          <li>AC Gym</li>
          <li class="grey"><a href="signin.html" class="button">Select</a></li>
        </ul>
      </div>


      <div class="columns">
        <ul class="price">
          <li class="header">Atri HOR</li>
          <div class="imagewrapper">
            <img style="height:150px; width:150px;" src="images/atri.jpg" alt="">
          </div>

          <li class="grey">65K / year</li>
          <li>Non-Ac block</li>
          <li>8 ball pool </li>
          <li>comfortable living area</li>
          <li>Free wifi</li>
          <li class="grey"><a href="signin.html" class="button">Select</a></li>
        </ul>
      </div>

      <div class="columns">
        <ul class="price">
          <li class="header">Marichi HOR</li>
          <div class="imagewrapper">
            <img style="height:150px; width:150px;" src="images/Marichi.jpg" alt="">
          </div>

          <li class="grey">64K / year</li>
          <li>Non-Ac block</li>
          <li>Common Study Room </li>
          <li>comfortable living area</li>
          <li>Free wifi</li>
          <li class="grey"><a href="signin.html" class="button">Select</a></li>
        </ul>
      </div>

    </div>
  </div>

</body>

</html>